/* general reset */
html {
  height: 100%;
  box-sizing: border-box;
  font-family: "verdana", "sans-serif";
  font-size: 15px;
  color: #1c1c1c;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 30px;
}

/* card list */
.card-list {
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 4%;
}

.card:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .card {
    flex-basis: 48%;
  }
}

@media (min-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

/* individual card  */
.card {
  background-color: white;
  font-size: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 4%;
}

.card__item:not(:last-child) {
  margin-bottom: 8px;
}

.card__img {
  margin-bottom: 8px;
  height: 120px;
}

.card__img img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.card__link {
  font-family: "verdana", "sans-serif";
  font-size: 15px;
  color: #1c1c1c;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .card__img {
    flex-basis: 33%;
    margin: 0;
    height: auto;
    max-height: 120px;
  }

  .card__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__title {
  margin: 0;
  color: #1c1c1c;
  font-size: 18px;
}

.card__img {
  background-color: dodgerblue;
}

.card__description {
  font-size: 15px;
  color: #696969;
  line-height: 1.5;
}
