#nav{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#nav>a{
    padding: 20px;
}
#create{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 500px;
    height: 300px;
    margin-left: 530px; 
    padding: 10px;
    text-align: center;

    
}form input{
    display: flex;
    
    font-size: 30px;
    align-items: center;
    
    /* margin-top: 10px;margin-left: 10px;margin-bottom:10px;margin-right: 10px; */
   


}form >select{
    /* margin-top: 10px;margin-left: 10px;margin-bottom:10px; */
    
}
input[type="submit"]{
    width: 380px;
    height: 35px;
    
    background-color: beige;
   
}form{
    margin-left: 30px;
}
table>thead>tr{
   
    
    background-color: yellow;
    font-weight: bold;
    font-size: 25px;
   
}
table{
    margin-left: 400px;
    margin-right: 15px;
}